body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wrapper {
  width: 840px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}
.content {
  margin: 40px 0;
}
.feed {
  position: relative;
  width: 520px;
  max-width: 100%;
  float: left;
}
.feed-item h1 {
  margin: 10px 0 5px 0;
  font-size: 20px;
}
.feed-item h1 a {
  color: #000;
}
.feed-item .feed-item-ico {
  width: 120px;
  height: 120px;
  float: left;
  overflow: hidden;
}
.feed-item .feed-item-ico img {
  max-width: 100%;
  max-height: 100%;
}
.feed-item-manufacturer {
  margin-top: 0;
  font-size: 12px;
}
.feed-item-description {
  margin-top: 20px;
}
a {
  color: #000;
  text-decoration: none;
}
